<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Her bir kitabın ana hafızada tutulacağı </span>
<span style="color: #008800; font-style: italic"> * yapı.</span>
<span style="color: #008800; font-style: italic"> * </span>
<span style="color: #008800; font-style: italic"> * Detaylı bilgi Book.h dosyasındadır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> **/</span>

<span style="color: #008080">#include &quot;../include/DATARULES.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Book.h&quot;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>

std::string Book::fill_string(std::string str, <span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> size){
  
  std::string copy_str = str;
  <span style="color: #000080; font-weight: bold">int</span> len = str.size();
  <span style="color: #000080; font-weight: bold">while</span> (len &lt; size){
    copy_str += BLANK_CHAR;
    len++;
  }
  <span style="color: #000080; font-weight: bold">return</span> copy_str;
  
}

std::string Book::strip_str(std::string str){

    <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> len = str.length();
    <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">while</span> (str[i] != BLANK_CHAR){ <span style="color: #008800; font-style: italic">// FIXME: verinin tam doldurmadığından emin olunmalı !!</span>
	i++;
    }

    <span style="color: #000080; font-weight: bold">return</span> str.substr(<span style="color: #0000FF">0</span>, i);
}


Book::Book(){
  <span style="color: #000080; font-weight: bold">this</span>-&gt;state=<span style="color: #0000FF">&quot;n&quot;</span>;
}

Book::Book(std::string isbn, std::string name, std::string author, std::string cost){
  <span style="color: #000080; font-weight: bold">this</span> -&gt; state = <span style="color: #0000FF">&quot;n&quot;</span>; <span style="color: #008800; font-style: italic">// &#39;normal&#39; anlamında (varsayılan)</span>
  <span style="color: #000080; font-weight: bold">this</span> -&gt; isbn = isbn;
  <span style="color: #000080; font-weight: bold">this</span> -&gt; name = name;
  <span style="color: #000080; font-weight: bold">this</span> -&gt; author = author;
  
  <span style="color: #000080; font-weight: bold">if</span> (cost[<span style="color: #0000FF">0</span>] == <span style="color: #800080">&#39;$&#39;</span>)
      cost = cost.substr(<span style="color: #0000FF">1</span>, cost.length());

  <span style="color: #000080; font-weight: bold">this</span> -&gt; cost = cost;
}

std::string Book::serialize(){
  std::string serial;

  serial += fill_string(<span style="color: #000080; font-weight: bold">this</span>-&gt;state, STATE_SIZE);
  serial += fill_string(<span style="color: #000080; font-weight: bold">this</span>-&gt;isbn, ISBN_SIZE);
  serial += fill_string(<span style="color: #000080; font-weight: bold">this</span>-&gt;name, NAME_SIZE);
  serial += fill_string(<span style="color: #000080; font-weight: bold">this</span>-&gt;author, AUTHOR_SIZE);
  serial += fill_string(<span style="color: #000080; font-weight: bold">this</span>-&gt;cost, COST_SIZE);
    
    
  <span style="color: #000080; font-weight: bold">return</span> serial;
}

<span style="color: #000080; font-weight: bold">void</span> Book::deserialize(std::string serialized){
  
    <span style="color: #000080; font-weight: bold">this</span>-&gt;state  = strip_str(serialized.substr(<span style="color: #0000FF">0</span>,<span style="color: #0000FF">1</span>));
    <span style="color: #000080; font-weight: bold">this</span>-&gt;isbn   = strip_str(serialized.substr(<span style="color: #0000FF">1</span>, <span style="color: #0000FF">20</span>));
    <span style="color: #000080; font-weight: bold">this</span>-&gt;name   = strip_str(serialized.substr(<span style="color: #0000FF">21</span>, <span style="color: #0000FF">200</span>));
    <span style="color: #000080; font-weight: bold">this</span>-&gt;author = strip_str(serialized.substr(<span style="color: #0000FF">221</span>, <span style="color: #0000FF">100</span>));
    <span style="color: #000080; font-weight: bold">this</span>-&gt;cost   = strip_str(serialized.substr(<span style="color: #0000FF">321</span>, <span style="color: #0000FF">10</span>));
}

<span style="color: #000080; font-weight: bold">int</span> Book::hash(std::string isbn){
    <span style="color: #000080; font-weight: bold">return</span> std::stol(isbn)%BUCKET_COUNT;
}

std::string Book::get_state(){<span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">this</span>-&gt;state;};
std::string Book::get_isbn(){<span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">this</span>-&gt;isbn;};
std::string Book::get_name(){<span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">this</span>-&gt;name;};
std::string Book::get_author(){<span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">this</span>-&gt;author;};
std::string Book::get_cost(){<span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">this</span>-&gt;cost;};

<span style="color: #000080; font-weight: bold">void</span> Book::set_isbn(std::string val){<span style="color: #000080; font-weight: bold">this</span>-&gt;isbn = val;}
<span style="color: #000080; font-weight: bold">void</span> Book::set_name(std::string val){<span style="color: #000080; font-weight: bold">this</span>-&gt;name = val;}
<span style="color: #000080; font-weight: bold">void</span> Book::set_author(std::string val){<span style="color: #000080; font-weight: bold">this</span>-&gt;author = val;}
<span style="color: #000080; font-weight: bold">void</span> Book::set_cost(std::string val){<span style="color: #000080; font-weight: bold">this</span>-&gt;cost = val;}
</pre></td></tr></table></div>

