<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * İkili dosyaya erişimi diğer sınıflardan soyutlayan sınıf.</span>
<span style="color: #008800; font-style: italic"> * </span>
<span style="color: #008800; font-style: italic"> * Detaylı bilgi BooksIOHelper.h dosyasındadır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic">**/</span>

<span style="color: #008080">#include &quot;../include/BooksIOHelper.h&quot;</span>
<span style="color: #008080">#include &quot;../include/DATARULES.h&quot;</span>
<span style="color: #008080">#include &lt;string&gt;</span>

BooksIOHelper::BooksIOHelper(){
      <span style="color: #000080; font-weight: bold">this</span>-&gt;open_file();
      update_statics();
}

<span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::get_total_book_count() {<span style="color: #000080; font-weight: bold">return</span> total_book_count;}
<span style="color: #000080; font-weight: bold">int</span> BooksIOHelper::get_total_collusion() {<span style="color: #000080; font-weight: bold">return</span> total_collusion;}

<span style="color: #000080; font-weight: bold">bool</span> BooksIOHelper::open_file(){

    <span style="color: #000080; font-weight: bold">this</span>-&gt;book_file.open(DATAFILENAME,
			 std::ios::binary | std::ios::out |
			 std::ios::in | std::ios::ate);

   
    <span style="color: #000080; font-weight: bold">if</span> (book_file.is_open()){ 
        <span style="color: #000080; font-weight: bold">return</span> true;
    }
    <span style="color: #000080; font-weight: bold">else</span> <span style="color: #000080; font-weight: bold">return</span> false;
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::go_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index,
			      <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index){
    <span style="color: #000080; font-weight: bold">int</span> record_byte;
    record_byte = (bucket_index * BUCKET_SIZE) +
	(book_index * BOOK_SIZE);

    <span style="color: #000080; font-weight: bold">if</span> (book_index &lt; <span style="color: #0000FF">5</span> &amp;&amp; bucket_index &lt; BUCKET_COUNT)
        book_file.seekg(record_byte);
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::go_bucket(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index){
    <span style="color: #000080; font-weight: bold">int</span> bucket_byte;
    bucket_byte = bucket_index * BUCKET_SIZE;

    <span style="color: #000080; font-weight: bold">if</span> (bucket_index &lt; BUCKET_COUNT){
	book_file.seekg(bucket_byte);
    }
}

Bucket BooksIOHelper::get_bucket(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){

    <span style="color: #000080; font-weight: bold">char</span>* data_str = <span style="color: #000080; font-weight: bold">new</span> <span style="color: #000080; font-weight: bold">char</span>[BUCKET_SIZE];
    Bucket bucket;
  
    <span style="color: #000080; font-weight: bold">this</span>-&gt;go_bucket(index);

    book_file.read(data_str, BUCKET_SIZE);
    bucket.deserialize(data_str);

    <span style="color: #000080; font-weight: bold">delete</span>[] data_str;
    <span style="color: #000080; font-weight: bold">return</span> bucket;
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::update_statics(){
    <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_count = <span style="color: #0000FF">0</span>;
    total_collusion=<span style="color: #0000FF">0</span>;
    total_book_count=<span style="color: #0000FF">0</span>;

    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>; i&lt;BUCKET_COUNT; i++){
	Bucket bucket = <span style="color: #000080; font-weight: bold">this</span>-&gt;get_bucket(i);
	<span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> j = <span style="color: #0000FF">0</span>; j &lt; <span style="color: #0000FF">5</span>; j++){
	    Book book = bucket.get_book(j); 
	    <span style="color: #000080; font-weight: bold">if</span> (book.get_isbn() != <span style="color: #0000FF">&quot;&quot;</span>){
		book_count++;
		<span style="color: #000080; font-weight: bold">int</span> h = Book::hash(book.get_isbn());

		<span style="color: #000080; font-weight: bold">if</span> (h &lt;= i){
		    <span style="color: #000080; font-weight: bold">this</span>-&gt;total_collusion += <span style="color: #0000FF">1</span>+ (i-h);
		}<span style="color: #000080; font-weight: bold">else</span>{
		    <span style="color: #000080; font-weight: bold">this</span>-&gt;total_collusion += <span style="color: #0000FF">42</span> - ( h - i);
		}
		
	    }
	}
    }
    <span style="color: #000080; font-weight: bold">this</span>-&gt;total_book_count = book_count;
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::write_bucket(Bucket bucket, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    go_bucket(index);
    book_file &lt;&lt; bucket.serialize();
    save_file();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index,
				<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index){
    go_record(bucket_index, book_index);
    book_file &lt;&lt; <span style="color: #800080">&#39;d&#39;</span>;
    save_file();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::save_file(){
    book_file.flush();
}

<span style="color: #000080; font-weight: bold">void</span> BooksIOHelper::close_file(){
  <span style="color: #008800; font-style: italic">//this-&gt;compress_file();</span>
  book_file.close();
}
</pre></td></tr></table></div>

