<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 01.03.2018</span>
<span style="color: #008800; font-style: italic"> **/</span>


<span style="color: #008080">#ifndef BOOKSIOHELPER_H</span>
<span style="color: #008080">#define BOOKSIOHELPER_H</span>

<span style="color: #008080">#include &lt;fstream&gt;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &quot;Book.h&quot;</span>
<span style="color: #008080">#include &quot;Bucket.h&quot;</span>

<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Kitap verilerinin tutulduğu binary dosyaya erişimi sağlayan</span>
<span style="color: #008800; font-style: italic"> * sınıftır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Proje boyunca ikili dosyaya sadece buradan erişim sağlanır.</span>
<span style="color: #008800; font-style: italic"> * Dosya bu sınıf ile projenin diğer modüllerinden </span>
<span style="color: #008800; font-style: italic"> * soyutlanmıştır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Sınıfla sadece Bucket nesneleri kullanarak iletişim kurabilirsiniz.</span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">class</span> BooksIOHelper{

 private:
  std::fstream book_file;
  <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> total_book_count;
  <span style="color: #000080; font-weight: bold">int</span> total_collusion;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosya işaretçisini, verilen kitap verisinin</span>
<span style="color: #008800; font-style: italic">   * başına koyan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   unsigned int bucket: Gidilmesi istenen kovanın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *   unsigned int book_index: Gidilmesi istenen kitabın kova içindeki sıra numarası </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> go_record(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index,
		 <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index);

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosya işaretçisini verilen kova verisinin başına</span>
<span style="color: #008800; font-style: italic">   * koyan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --ARGS--</span>
<span style="color: #008800; font-style: italic">   *  unsigned int bucket_index: Gidilmek istenen kovanın sıra numarası</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> go_bucket(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index);

 public:

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Sadece özellikler ilklendirilir.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  BooksIOHelper();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Binary veri dosyasını açan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *    bool: Dosyanın açılıp açılamadığı durumu. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">bool</span> open_file();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyadan istenilen sıradaki veriyi alıp Bucket </span>
<span style="color: #008800; font-style: italic">   * nesnesine dönüştüren metoddur.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Verinin silinmiş olması bu metodu etkilemez.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Input--</span>
<span style="color: #008800; font-style: italic">   *   int index: İstenilen kovanın indexsi.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --Return--</span>
<span style="color: #008800; font-style: italic">   *   Book: İstenilen sıradaki verinin Bucket nesnesi. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  Bucket get_bucket(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Veri dosyasındaki tutulması gereken istatistikleri güncelleyen metod</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> update_statics();

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyada verilen index üzerindeki kaydın </span>
<span style="color: #008800; font-style: italic">   * üzerine yazarak yeni kayıt oluşturan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Güncelleme yapmak ya da silinen veri üzerine </span>
<span style="color: #008800; font-style: italic">   * yazmak için kullanılabilir.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --ARGS--</span>
<span style="color: #008800; font-style: italic">   *   Bucket bucket: Yazılması istenen kova nesnesi</span>
<span style="color: #008800; font-style: italic">   *   index: Üzerine yazılan kovanın dosya indeksi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> write_bucket(Bucket bucket, <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosya üzerindeki indexi verilen kaydın durum değerini</span>
<span style="color: #008800; font-style: italic">   * değiştiren metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * Gerçek anlamda diskten silme işlemi yapmaz. Durum değerini</span>
<span style="color: #008800; font-style: italic">   * &#39;d&#39; (deleted) yapar.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --ARGS--</span>
<span style="color: #008800; font-style: italic">   *   unsigned int bucket_index: İstenilen kitabın bulunduğu kovanın sıra numarası</span>
<span style="color: #008800; font-style: italic">   *   unsigned int book_index: İstenilen kitabın kovadaki indexi</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> delete_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> bucket_index,
		   <span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> book_index);
  

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Tamponda bekleyen veriyi fiziksel belleğe aktaran </span>
<span style="color: #008800; font-style: italic">   * bilinen tanımıyla kaydeden method. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * flush() metodunun soyutlanmış halidir.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> save_file();

  <span style="color: #000080; font-weight: bold">int</span> get_total_book_count();
  <span style="color: #000080; font-weight: bold">int</span> get_total_collusion();

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Dosyanın kapatılması ve sıkıştırılmasını sağlayan metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> close_file();
};
<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

