<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#include &quot;../include/Bucket.h&quot;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>

Bucket::Bucket(){

}

Bucket::Bucket(Book books[<span style="color: #0000FF">5</span>]){
    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i=<span style="color: #0000FF">0</span>; i&lt;<span style="color: #0000FF">5</span>; i++){<span style="color: #000080; font-weight: bold">this</span>-&gt;bucket[i] = books[i];}
}

Book Bucket::find_book(std::string isbn){
    <span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>;
    <span style="color: #000080; font-weight: bold">for</span> (i; i&lt;<span style="color: #0000FF">5</span>; i++){
	<span style="color: #000080; font-weight: bold">if</span> (isbn == bucket[i].get_isbn())
	    <span style="color: #000080; font-weight: bold">return</span> bucket[i];
    }

    Book nullBook;
    <span style="color: #000080; font-weight: bold">return</span> nullBook;
}

<span style="color: #000080; font-weight: bold">bool</span> Bucket::is_full(){
    <span style="color: #008800; font-style: italic">// Todo</span>
    <span style="color: #000080; font-weight: bold">bool</span> flag = true;
    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i=<span style="color: #0000FF">0</span>; i&lt;<span style="color: #0000FF">5</span>; i++){
	<span style="color: #000080; font-weight: bold">if</span> (is_this_index_null(i)){
	    flag = false;
	    <span style="color: #000080; font-weight: bold">break</span>;
	}
    }
    <span style="color: #000080; font-weight: bold">return</span> flag;
}

<span style="color: #000080; font-weight: bold">bool</span> Bucket::is_empty_or_any_deleted(){

    <span style="color: #000080; font-weight: bold">bool</span> flag = false;
    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i=<span style="color: #0000FF">0</span>; i&lt;<span style="color: #0000FF">5</span>; i++){
	<span style="color: #000080; font-weight: bold">if</span> (is_this_index_null(i) || is_this_index_deleted(i)){
	    flag = true;
	    <span style="color: #000080; font-weight: bold">break</span>;
	}
    }
    <span style="color: #000080; font-weight: bold">return</span> flag;
}

std::string Bucket::serialize(){
    std::string serial = <span style="color: #0000FF">&quot;&quot;</span>;

    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i=<span style="color: #0000FF">0</span>; i&lt;<span style="color: #0000FF">5</span>; i++){
	serial += bucket[i].serialize();
    }

    <span style="color: #000080; font-weight: bold">return</span> serial;
}

<span style="color: #000080; font-weight: bold">void</span> Bucket::deserialize(std::string serialized){
    <span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i=<span style="color: #0000FF">0</span>; i&lt;<span style="color: #0000FF">5</span>; i++){
	std::string serializedBook = serialized.substr(i*BOOK_SIZE,
						       BOOK_SIZE);
	
	Book tmpBook;
	tmpBook.deserialize(serializedBook);
	bucket[i] = tmpBook;
    }
}

<span style="color: #000080; font-weight: bold">bool</span> Bucket::is_this_index_null(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    <span style="color: #000080; font-weight: bold">if</span> (bucket[index].get_isbn() == <span style="color: #0000FF">&quot;&quot;</span>)
	<span style="color: #000080; font-weight: bold">return</span> true;
    <span style="color: #000080; font-weight: bold">else</span>
	<span style="color: #000080; font-weight: bold">return</span> false;
}

<span style="color: #000080; font-weight: bold">bool</span> Bucket::is_this_index_deleted(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    <span style="color: #000080; font-weight: bold">if</span> (bucket[index].get_state() == <span style="color: #0000FF">&quot;d&quot;</span>)
	<span style="color: #000080; font-weight: bold">return</span> true;
    <span style="color: #000080; font-weight: bold">else</span>
	<span style="color: #000080; font-weight: bold">return</span> false;
}

Book Bucket::get_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index){
    <span style="color: #000080; font-weight: bold">if</span> (index &gt;= <span style="color: #0000FF">5</span>){Book nullBook; <span style="color: #000080; font-weight: bold">return</span> nullBook;}
    <span style="color: #000080; font-weight: bold">else</span>{<span style="color: #000080; font-weight: bold">return</span> bucket[index];}
}

<span style="color: #000080; font-weight: bold">void</span> Bucket::set_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index, Book book){
    <span style="color: #000080; font-weight: bold">if</span> (index &gt;= <span style="color: #0000FF">5</span>){<span style="color: #000080; font-weight: bold">return</span>;}
    <span style="color: #000080; font-weight: bold">else</span>{<span style="color: #000080; font-weight: bold">this</span>-&gt;bucket[index] = book;}
}
</pre></td></tr></table></div>

