<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#ifndef BUCKET_H</span>
<span style="color: #008080">#define BUCKET_H</span>

<span style="color: #008080">#include &quot;Book.h&quot;</span>
<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &quot;DATARULES.h&quot;</span>

<span style="color: #000080; font-weight: bold">class</span> Bucket{
  private:
    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * İçinde 5 tane kitap bulunan dizi. Sınıfın amacı bu </span>
<span style="color: #008800; font-style: italic">     * sanal tutucuları oluşturup tampon oluşturmaktır.</span>
<span style="color: #008800; font-style: italic">     **/</span> 
    Book bucket[<span style="color: #0000FF">5</span>];

  public:
    Bucket();
    Bucket(Book books[<span style="color: #0000FF">5</span>]);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Lineer arama ile istenilen kitabı bulma metodu.</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *  std::string isbn: İstenilen kitabın isbn değeri.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  Book: istenilen isbn&#39;e sahip kitap nesnesi. Eğer aranan kitap yoksa boş </span>
<span style="color: #008800; font-style: italic">     *        kitap nesnesi döndürülür.</span>
<span style="color: #008800; font-style: italic">     **/</span> 
    Book find_book(std::string isbn);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Kovanın tammen dolu olup olmadığını kontrol eden metod.</span>
<span style="color: #008800; font-style: italic">     * Silinmiş öğeler de sayılır.</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  bool: Kova doluysa true, en az bir boşluk varsa false</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> is_full();

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Sınıfı dosyaya yazmaya hazırlayan metod. Aslında sadece içindeki kitapların </span>
<span style="color: #008800; font-style: italic">     * serialize() metodlarını kullanıp toplayan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  std::string: Kovanın dosyaya yazılabilir hali.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    std::string serialize();

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Serileştirilmiş stringten yani dosyadan verileri alıp,</span>
<span style="color: #008800; font-style: italic">     * onları ayrıştırıp kovanın gerekli yerlerine yazan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *  std::string: Serileştirilmiş veri. Genelde dosyadan alınır.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">void</span> deserialize(std::string);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Kovadaki istenilen indexteki verinin gerçek bir kitap mı yoksa </span>
<span style="color: #008800; font-style: italic">     * boşluk mu olduğunun kontrolünü yapan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *  unsigned int index: Kontrol edilecek kitabın kova sırası</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *   bool: Verinin boş ise true, gerçek kitap ise false </span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> is_this_index_null(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Kovadaki istenilen indexteki verinin silinip silinmediğinin kontrolünü</span>
<span style="color: #008800; font-style: italic">     * yapan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     * unsigned int index: Kontrol edilecek kitabın kova sıras</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     * bool: Verinin silinmiş ise true, gerçek kitap ise false</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> is_this_index_deleted(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Kovada en az bir alanın boş ya da silinmiş olduğunun kontrlünü yapan</span>
<span style="color: #008800; font-style: italic">     * metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  bool: İstenilen şartlar sağlanırsa true, sağlanmazsa false.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> is_empty_or_any_deleted();
    

    Book get_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index);
    <span style="color: #000080; font-weight: bold">void</span> set_book(<span style="color: #000080; font-weight: bold">unsigned</span> <span style="color: #000080; font-weight: bold">int</span> index, Book book);
};

<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

