<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#include &quot;../include/Commands.h&quot;</span>
<span style="color: #008080">#include &quot;../include/DATARULES.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Bucket.h&quot;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>

<span style="color: #000080; font-weight: bold">int</span> Commands::find_bucket_to_write(<span style="color: #000080; font-weight: bold">int</span> hash_key){
    <span style="color: #000080; font-weight: bold">int</span> address = hash_key;
    <span style="color: #000080; font-weight: bold">int</span> limit = BUCKET_COUNT - <span style="color: #0000FF">1</span>;
    Bucket bucket;

    <span style="color: #000080; font-weight: bold">for</span> (address; address&lt;=limit; address++){
	bucket  = bookFileHelper.get_bucket(address);

	<span style="color: #000080; font-weight: bold">if</span> (bucket.is_empty_or_any_deleted()){
	    <span style="color: #000080; font-weight: bold">return</span> address;
	}

	<span style="color: #000080; font-weight: bold">if</span> (address == (BUCKET_COUNT-<span style="color: #0000FF">1</span>)){ <span style="color: #008800; font-style: italic">// Daha optimize çalışması sağlanabilir.</span>
	    address  = -<span style="color: #0000FF">1</span>; <span style="color: #008800; font-style: italic">// Modülo işlemi düşünülebilir</span>
	    limit = hash_key;
	}  
    }

    <span style="color: #000080; font-weight: bold">return</span> -<span style="color: #0000FF">1</span>;
}

<span style="color: #000080; font-weight: bold">float</span> Commands::get_packing_factor(){<span style="color: #000080; font-weight: bold">return</span> packing_factor;}
<span style="color: #000080; font-weight: bold">float</span> Commands::get_avg_search(){<span style="color: #000080; font-weight: bold">return</span> avg_search;}


Book Commands::find_book(std::string isbn){
    tmp_bucket_index = Book::hash(isbn);
    <span style="color: #000080; font-weight: bold">register</span> <span style="color: #000080; font-weight: bold">int</span> limit = BUCKET_COUNT-<span style="color: #0000FF">1</span>;

    <span style="color: #000080; font-weight: bold">for</span> (tmp_bucket_index; tmp_bucket_index&lt;=limit; tmp_bucket_index++){
	
	tmp_bucket = bookFileHelper.get_bucket(tmp_bucket_index);
	Book t = tmp_bucket.find_book(isbn);

	<span style="color: #000080; font-weight: bold">if</span> (t.get_isbn() != <span style="color: #0000FF">&quot;&quot;</span> &amp;&amp; t.get_state() != <span style="color: #0000FF">&quot;d&quot;</span>)
	    <span style="color: #000080; font-weight: bold">return</span> t;
	
	<span style="color: #000080; font-weight: bold">if</span> (!tmp_bucket.is_full())
	    <span style="color: #000080; font-weight: bold">break</span>;
	
	<span style="color: #000080; font-weight: bold">if</span> (tmp_bucket_index == BUCKET_COUNT - <span style="color: #0000FF">1</span>){
	    limit = Book::hash(isbn);
	    tmp_bucket_index = -<span style="color: #0000FF">1</span>;
	}
    }
    
    Book nullBook;
    <span style="color: #000080; font-weight: bold">return</span> nullBook;
}

<span style="color: #000080; font-weight: bold">bool</span> Commands::add_book(Book book){
    <span style="color: #000080; font-weight: bold">if</span> (find_book(book.get_isbn()).get_isbn() != <span style="color: #0000FF">&quot;&quot;</span>)
        <span style="color: #000080; font-weight: bold">return</span> false;
    
    <span style="color: #000080; font-weight: bold">int</span> hash_key = Book::hash(book.get_isbn());
    <span style="color: #000080; font-weight: bold">int</span> bucket_address = <span style="color: #000080; font-weight: bold">this</span>-&gt;find_bucket_to_write(hash_key);

    <span style="color: #000080; font-weight: bold">if</span> (bucket_address &lt; <span style="color: #0000FF">0</span>) {<span style="color: #000080; font-weight: bold">return</span> false;}
    <span style="color: #000080; font-weight: bold">else</span>{
	Bucket bucket = bookFileHelper.get_bucket(bucket_address);

	<span style="color: #000080; font-weight: bold">for</span> (<span style="color: #000080; font-weight: bold">int</span> i = <span style="color: #0000FF">0</span>; i &lt; <span style="color: #0000FF">5</span>; i++){
	    <span style="color: #000080; font-weight: bold">if</span> (bucket.is_this_index_null(i) || bucket.is_this_index_deleted(i)){
		bucket.set_book(i, book);
		<span style="color: #000080; font-weight: bold">break</span>;
	    }
	}

	bookFileHelper.write_bucket(bucket, bucket_address);
	<span style="color: #000080; font-weight: bold">return</span> true;
    }
}

<span style="color: #000080; font-weight: bold">bool</span> Commands::delete_book(std::string isbn){
    Book book2 = <span style="color: #000080; font-weight: bold">this</span>-&gt;find_book(isbn);

    <span style="color: #000080; font-weight: bold">if</span> (book2.get_isbn() == <span style="color: #0000FF">&quot;&quot;</span>)
	<span style="color: #000080; font-weight: bold">return</span> false;
    <span style="color: #000080; font-weight: bold">else</span>{
	<span style="color: #000080; font-weight: bold">int</span> index  = <span style="color: #0000FF">0</span>;

	<span style="color: #000080; font-weight: bold">for</span> (index; index &lt; <span style="color: #0000FF">5</span>; index++){
	    <span style="color: #000080; font-weight: bold">if</span> (tmp_bucket.get_book(index).get_isbn() == isbn){
		bookFileHelper.delete_book(tmp_bucket_index, index);
		<span style="color: #000080; font-weight: bold">return</span> true;
	    }
	}
	<span style="color: #000080; font-weight: bold">return</span> false;
    }
}

<span style="color: #000080; font-weight: bold">void</span> Commands::update_statics(){
    
    bookFileHelper.update_statics();
    packing_factor = (<span style="color: #000080; font-weight: bold">float</span>) bookFileHelper.get_total_book_count() / (<span style="color: #000080; font-weight: bold">float</span>)(BUCKET_COUNT*<span style="color: #0000FF">5</span>);
    
    avg_search = (<span style="color: #000080; font-weight: bold">float</span>) bookFileHelper.get_total_collusion() / (<span style="color: #000080; font-weight: bold">float</span>) bookFileHelper.get_total_book_count();
    
}


<span style="color: #000080; font-weight: bold">void</span> Commands::prepare_to_close(){
    bookFileHelper.close_file();
}
</pre></td></tr></table></div>

