<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#ifndef COMMANDS_H</span>
<span style="color: #008080">#define COMMANDS_H</span>

<span style="color: #008080">#include &quot;BooksIOHelper.h&quot;</span>
<span style="color: #008080">#include &quot;Book.h&quot;</span>
<span style="color: #008080">#include &lt;string&gt;</span>

<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Dosyadaki verilerin kullanıcının isteğine göre şekillenmesinin </span>
<span style="color: #008800; font-style: italic"> * sağlandığı yani dosyada arama, ekleme, silme gibi işlemlerin </span>
<span style="color: #008800; font-style: italic"> * yapıldığı sınıftır.</span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">class</span> Commands{
 private:
    BooksIOHelper bookFileHelper;
    Bucket tmp_bucket;  <span style="color: #008800; font-style: italic">// Nesne yönelim mantığına aykırı!!!</span>
    <span style="color: #000080; font-weight: bold">int</span> tmp_bucket_index;  <span style="color: #008800; font-style: italic">// Nesne yönelim mantığına aykırı!!!</span>

    <span style="color: #000080; font-weight: bold">float</span> packing_factor;
    <span style="color: #000080; font-weight: bold">float</span> avg_search;

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Verilen bir hash keyinin dosyada çakışma olmadan hangi kovaya</span>
<span style="color: #008800; font-style: italic">     * yazılacağını bulan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *  int hash_key: Yazılacak olan kitap isbn&#39;inin hash fonksiyonu sonucu</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  int: Yazılabilecek kovanın indexi. Eğer hiçbir yere yazılamazsa bu değer -1 olur.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">int</span>  find_bucket_to_write(<span style="color: #000080; font-weight: bold">int</span> hash_key);
    <span style="color: #008800; font-style: italic">// int search_bucket((std::string isbn);</span>
    

 public:

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Kitabın isbn numarasına göre arama yapan ve sonucu döndüren metod.</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     * Bazı değişkenleri &#39;delete_book(std::string)&#39; metodu için sınıf değişkeni olarak </span>
<span style="color: #008800; font-style: italic">     * kullanılıyor. Bu modülerliğe aykırı ancak yer ve cpu zamanından tasarruf için </span>
<span style="color: #008800; font-style: italic">     * kullanılıyor.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * -- ARGS--</span>
<span style="color: #008800; font-style: italic">     *  std::string isbn: Aranan kitabın isbn numarası</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  Book: Aranan kitap. Eğer bulunamazsa tüm özellikleri boş olan bir kitap nesnesi.</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     **/</span>
    Book find_book(std::string isbn);

    <span style="color: #000080; font-weight: bold">float</span> get_packing_factor();
    <span style="color: #000080; font-weight: bold">float</span> get_avg_search();


    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Dosyada uygun yere yeni bir kitap eklenmesini sağlayan metod.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *  Book book: Eklenecek kitap nesnesi.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  bool: Kitabın eklenmediği. Kitap eklenebilirse true, eklenemezse false.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> add_book(Book book);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Verilen isbn&#39;e ait kitabın dosyadan mantıksal olarak silinmesini yani</span>
<span style="color: #008800; font-style: italic">     * state değerinin &#39;d&#39; yapılmasını sağlayan metod. </span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * Kitap fiziksel olarak silinmez çünkü diğer aramalarda sorun çıkartır.</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --ARGS--</span>
<span style="color: #008800; font-style: italic">     *   std::string isbn: Silinecek kitabın isbn numarası</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *   bool: Kitap silinirse true, silinemezse (ya da bulunamazsa) false.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">bool</span> delete_book(std::string isbn);

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Dosyadaki yoğunlaşma değerini hesaplayan metod.</span>
<span style="color: #008800; font-style: italic">     * </span>
<span style="color: #008800; font-style: italic">     * Yoğunlaşma Değeri = Dosyadaki Kitaplar / Dosyadaki toplam alan</span>
<span style="color: #008800; font-style: italic">     *</span>
<span style="color: #008800; font-style: italic">     * --RETURN--</span>
<span style="color: #008800; font-style: italic">     *  float: Yoğunlaşma değeri</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">void</span> update_statics();

    <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">     * Sınıfın açtığı dosyaları ve akışları güvenli biçimde kaydedip kapatmasını</span>
<span style="color: #008800; font-style: italic">     * sağlayan metod.</span>
<span style="color: #008800; font-style: italic">     **/</span>
    <span style="color: #000080; font-weight: bold">void</span> prepare_to_close();
};

<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

