<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * Proje boyunca dosya okuma ve yazma işlemlerinin tamamında</span>
<span style="color: #008800; font-style: italic"> * kullanılacak veri kurallarının global tanımlarını içeren</span>
<span style="color: #008800; font-style: italic"> * header dosyası.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Yazar: Berkay Dedeoğlu</span>
<span style="color: #008800; font-style: italic"> * Tarih: 27.02.2018</span>
<span style="color: #008800; font-style: italic"> * </span>
<span style="color: #008800; font-style: italic"> **/</span>


<span style="color: #008080">#ifndef DATARULES_H</span>
<span style="color: #008080">#define DATARULES_H</span>

<span style="color: #008080">#include &lt;string&gt;</span>


<span style="color: #008800; font-style: italic">// Başlangıçta hazır olarak gelen kitap dosyasının (plain text) yolu ve ismi.  </span>
<span style="color: #000080; font-weight: bold">const</span> std::string TEXTFILENAME = <span style="color: #0000FF">&quot;../data/Books.txt&quot;</span>;


<span style="color: #008800; font-style: italic">// Verilerin tutulduğu ve üzerinde işlemlerin yapıldıığı (binary) dosyanın yolu ve ismi.</span>
<span style="color: #000080; font-weight: bold">const</span> std::string DATAFILENAME = <span style="color: #0000FF">&quot;../data/Books.bin&quot;</span>;


<span style="color: #008800; font-style: italic">// Kitap kayıtlarının sabit uzunluklu olması için kullanılan boş karakter. bkz. Book::serialize()</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">char</span> BLANK_CHAR = <span style="color: #0000FF">1</span>;


<span style="color: #008800; font-style: italic">// Verilerin tutulduğu dosyadaki sabit uzunlukları</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> STATE_SIZE = <span style="color: #0000FF">1</span>;  <span style="color: #008800; font-style: italic">// byte</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> ISBN_SIZE = <span style="color: #0000FF">20</span>;  <span style="color: #008800; font-style: italic">// byte</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> NAME_SIZE = <span style="color: #0000FF">200</span>;  <span style="color: #008800; font-style: italic">// byte</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> AUTHOR_SIZE = <span style="color: #0000FF">100</span>;  <span style="color: #008800; font-style: italic">// byte</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> COST_SIZE = <span style="color: #0000FF">10</span>;  <span style="color: #008800; font-style: italic">// byte</span>

<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> BOOK_SIZE = <span style="color: #0000FF">331</span>; <span style="color: #008800; font-style: italic">// byte</span>

<span style="color: #008800; font-style: italic">// Dosyadaki bir kovanın toplam boyutu</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> BUCKET_SIZE = <span style="color: #0000FF">1655</span>; <span style="color: #008800; font-style: italic">// byte</span>

<span style="color: #008800; font-style: italic">// Dosyada bulunması gereken kova sayısı</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> BUCKET_COUNT = <span style="color: #0000FF">41</span>;

<span style="color: #008800; font-style: italic">// Bir kovadaki kitap sayısı</span>
<span style="color: #000080; font-weight: bold">const</span> <span style="color: #000080; font-weight: bold">int</span> COLUMN_COUNT = <span style="color: #0000FF">5</span>;

<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

