<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#include &quot;../include/Book.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Bucket.h&quot;</span>
<span style="color: #008080">#include &quot;../include/PlaintoBinary.h&quot;</span>
<span style="color: #008080">#include &quot;../include/BooksIOHelper.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Commands.h&quot;</span>
<span style="color: #008080">#include &lt;iostream&gt;</span>
<span style="color: #008080">#include &lt;string&gt;</span>


Commands commands;

<span style="color: #000080; font-weight: bold">int</span> print_menu();
<span style="color: #000080; font-weight: bold">void</span> delete_book();
<span style="color: #000080; font-weight: bold">void</span> add_book();
<span style="color: #000080; font-weight: bold">void</span> find_book();


<span style="color: #000080; font-weight: bold">int</span> main(<span style="color: #000080; font-weight: bold">int</span> argc, <span style="color: #000080; font-weight: bold">char</span> *argv[]){
    PlaintoBinary ptb;

    ptb.write_to_data_file();

    commands.update_statics();
    <span style="color: #000080; font-weight: bold">while</span> (true){
	<span style="color: #000080; font-weight: bold">int</span> choice = print_menu();

	<span style="color: #000080; font-weight: bold">switch</span>(choice){
	<span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">1</span>:
	    add_book();
	    <span style="color: #000080; font-weight: bold">break</span>;
	<span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">2</span>:
	    find_book();
	    <span style="color: #000080; font-weight: bold">break</span>;
	<span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">3</span>:
	    delete_book();
	    <span style="color: #000080; font-weight: bold">break</span>;
	<span style="color: #000080; font-weight: bold">case</span> <span style="color: #0000FF">4</span>:
	    commands.prepare_to_close();
	    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #0000FF">1</span>;
	default:
	    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yanlış Tuşlama&quot;</span> &lt;&lt; std::endl;
	    <span style="color: #000080; font-weight: bold">break</span>;
	}

	<span style="color: #008800; font-style: italic">// Devam etmek için bir tuşa basın komutları</span>
	<span style="color: #000080; font-weight: bold">char</span> temp;
	std::cin.ignore();
	std::cout &lt;&lt; std::endl &lt;&lt; std::endl &lt;&lt; std::endl &lt;&lt; std::endl;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Devam etmek için bir &lt;Enter&gt; basın :)&quot;</span>; 
	std::cin.getline(&amp;temp, <span style="color: #0000FF">1</span>);
	std::cin.clear();
	<span style="color: #008800; font-style: italic">// Devam etmek için bir tuşa basın komutla</span>

    }

    commands.prepare_to_close();

    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #0000FF">0</span>;
}


<span style="color: #000080; font-weight: bold">int</span> print_menu(){
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;=======================&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;1-) Kitap ekleme&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;2-) Kitap arama&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;3-) Kitap silme&quot;</span> &lt;&lt; std::endl;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;4-) Çıkış&quot;</span> &lt;&lt; std::endl;


    std::string choice;
    std::cin &gt;&gt; choice;

    std::cout &lt;&lt; std::endl &lt;&lt; std::endl;

    <span style="color: #000080; font-weight: bold">return</span> std::stoi(choice);
}

<span style="color: #000080; font-weight: bold">void</span> add_book(){
    std::cin.ignore();

    std:: cout &lt;&lt; <span style="color: #0000FF">&quot;ISBN: &quot;</span>;
    std::string isbn;
    std::getline(std::cin,isbn);
    
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap adı: &quot;</span>;
    std::string name;
    std::getline(std::cin, name);

    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yazar adı: &quot;</span>;
    std::string author;
    std::getline(std::cin, author);

    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap fiyatı: &quot;</span>;
    std::string cost;
    std::getline(std::cin, cost);

    std::cin.clear();

    Book book(isbn, name, author, cost);
    <span style="color: #000080; font-weight: bold">bool</span> result = commands.add_book(book);

    <span style="color: #000080; font-weight: bold">if</span> (result == true){std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap başarıyla eklendi&quot;</span> &lt;&lt; std::endl;}
    <span style="color: #000080; font-weight: bold">else</span>{std::cout &lt;&lt; <span style="color: #0000FF">&quot;Bir hata oluştu ve kitabınız eklenemedi. Belki de dosya kapasitesi dolmuştur.&quot;</span> &lt;&lt; std::endl;}

    commands.update_statics();
    <span style="color: #000080; font-weight: bold">float</span> pf = commands.get_packing_factor();
    <span style="color: #000080; font-weight: bold">if</span> (pf &gt; <span style="color: #0000FF">0.1</span>){
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Dosyada yeriniz azalıyor. Lütfen kontrol edin.&quot;</span> &lt;&lt; std::endl;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Packing factor: &quot;</span> + std::to_string(pf) &lt;&lt; std::endl; 
    }
}


<span style="color: #000080; font-weight: bold">void</span> find_book(){
    std::string isbn;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Bulmak istediğiniz kitabın isbn kodu: &quot;</span>;
    std::cin &gt;&gt; isbn;

    Book book = commands.find_book(isbn);

    <span style="color: #000080; font-weight: bold">if</span> (book.get_isbn() != <span style="color: #0000FF">&quot;&quot;</span>){
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;\n&quot;</span>;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;==========&quot;</span>&lt;&lt;std::endl;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap adı: &quot;</span> + book.get_name() &lt;&lt; std::endl;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Yazar adı: &quot;</span> + book.get_author() &lt;&lt; std::endl;
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap tutarı: $&quot;</span> + book.get_cost() &lt;&lt; std::endl;
    }<span style="color: #000080; font-weight: bold">else</span>
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Aradığınız kitap yok ya da silinmiş&quot;</span> &lt;&lt; std::endl;

    <span style="color: #000080; font-weight: bold">if</span> (commands.get_avg_search() &gt;= <span style="color: #0000FF">1.5</span>){
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Ortalama arama değeri yükseldi. Değer: &quot;</span>;	
	std::cout &lt;&lt; std::to_string(commands.get_avg_search()) &lt;&lt; std::endl;
    }
}

<span style="color: #000080; font-weight: bold">void</span> delete_book(){
    std::string isbn;
    std::cout &lt;&lt; <span style="color: #0000FF">&quot;Silmek istediğiniz kitabın isbn kodu: &quot;</span>;
    std::cin &gt;&gt; isbn;
    <span style="color: #000080; font-weight: bold">bool</span> result = commands.delete_book(isbn);

    <span style="color: #000080; font-weight: bold">if</span> (result == true)
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;Kitap başarıyla silindi&quot;</span> &lt;&lt; std::endl;
    <span style="color: #000080; font-weight: bold">else</span>
	std::cout &lt;&lt; <span style="color: #0000FF">&quot;İstediğiniz kitap yok ya da silinmiş&quot;</span> &lt;&lt; std::endl;
}
</pre></td></tr></table></div>

