<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #008080">#ifndef PLAINTOBINARY_H</span>
<span style="color: #008080">#define PLAINTOBINARY_H</span>

<span style="color: #008080">#include &lt;string&gt;</span>
<span style="color: #008080">#include &lt;fstream&gt;</span>
<span style="color: #008080">#include &quot;Book.h&quot;</span>
<span style="color: #008080">#include &quot;../include/Commands.h&quot;</span>


<span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic"> * İlk çalışmada verilmiş olan &#39;*.txt&#39; dosyasını, </span>
<span style="color: #008800; font-style: italic"> * veritabanı olarak kullanılacak binary dosyaya </span>
<span style="color: #008800; font-style: italic"> * aktaracak iş sınıfı.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Genellikle bir sistemde ilk çalışmada ya da hazır</span>
<span style="color: #008800; font-style: italic"> * sistemde binary dosyanın bozulması durumunda </span>
<span style="color: #008800; font-style: italic"> * bu sınıf çalışır.</span>
<span style="color: #008800; font-style: italic"> *</span>
<span style="color: #008800; font-style: italic"> * Sınıfın çalışması için gerekli ortam değişkenleri</span>
<span style="color: #008800; font-style: italic"> * için bkz. &#39;DATARULES.h&#39; </span>
<span style="color: #008800; font-style: italic"> **/</span>
<span style="color: #000080; font-weight: bold">class</span> PlaintoBinary{

 private:
  
  std::ifstream textFile;  <span style="color: #008800; font-style: italic">// Varsayılan olarak gelen txt dosyası</span>
  std::ofstream dataFile;  <span style="color: #008800; font-style: italic">// Yazılacak olan binary dosya</span>
  Commands cmds;
  BooksIOHelper bioh;


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Binary dosyanın yapısını henüz dosya açılmadan düzenleyen </span>
<span style="color: #008800; font-style: italic">   * yani DATARULES.h dosyasından aldığı sayı ile boş olarak dolduran</span>
<span style="color: #008800; font-style: italic">   * metod. </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> write_blank_books();
  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Referans .txt dosyasını inceleyip kitap sayısını</span>
<span style="color: #008800; font-style: italic">   * bulan ve döndüren metod. Birçok teknik olmasına rağmen </span>
<span style="color: #008800; font-style: italic">   * biraz daha hantal çalışan ancak doğru sonucu veren</span>
<span style="color: #008800; font-style: italic">   * 2*&#39;\n&#39; yöntemini kullanır. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * 2 tane ardarda &#39;\n&#39; karakteri okunursa kitap sayısı 1 </span>
<span style="color: #008800; font-style: italic">   * artırılır.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --RETURN--</span>
<span style="color: #008800; font-style: italic">   *   int: Dosyadaki kitap sayısı</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">int</span> book_count();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Text dosyasındaki işaretçiyi, diğer metodların kullanması</span>
<span style="color: #008800; font-style: italic">   * için, en başa getirir</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> text_file_begin();

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Plain text dosyasından bir kitabı tamamen okuyup verileri</span>
<span style="color: #008800; font-style: italic">   * geri döndüren metod. </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --RETURN--</span>
<span style="color: #008800; font-style: italic">   *   string* : 4 elemanlı kitap verisi. </span>
<span style="color: #008800; font-style: italic">   *             [isbn, isim, yazar, fiyat] </span>
<span style="color: #008800; font-style: italic">   **/</span>
  std::string* parse_a_book();


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * parse_a_book metodundan alınan verilerden bir </span>
<span style="color: #008800; font-style: italic">   * Book nesnesi oluşturan metod.</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --ARGS--</span>
<span style="color: #008800; font-style: italic">   *   strBook : 4 elemanlı kitap verisi.</span>
<span style="color: #008800; font-style: italic">   *             [isbn, isim, yazar, fiyat]</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --RETURNS--</span>
<span style="color: #008800; font-style: italic">   *   Book : txt dosyasından oluşturulmuş Book nesnesi.  </span>
<span style="color: #008800; font-style: italic">   **/</span>
  Book create_a_book(std::string * strBook);

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Book nesnesini binary dosyasına yazacak olan metod </span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   * --ARGS--</span>
<span style="color: #008800; font-style: italic">   *   Book : Verilerinin yazılacağı book objesi.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> write_a_book(Book book);


  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Tüm işlemler bittiğinde dosyaların kapatılmasını </span>
<span style="color: #008800; font-style: italic">   * metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> close_files();

  
 public:

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Sınıfın özelliklerini (txt ve binary dosyaları)</span>
<span style="color: #008800; font-style: italic">   * ilklendiren yapıcı metod.</span>
<span style="color: #008800; font-style: italic">   **/</span>
  PlaintoBinary();

  
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Private metodların tamamını kullanarak .txt dosyasındaki</span>
<span style="color: #008800; font-style: italic">   * tüm kitapları UYGUN BİÇİMDE binary dosyaya yazan metod.</span>
<span style="color: #008800; font-style: italic">   * </span>
<span style="color: #008800; font-style: italic">   * Herhangi bi özelleştirme içermez.  </span>
<span style="color: #008800; font-style: italic">   **/</span>
  <span style="color: #000080; font-weight: bold">void</span> write_to_data_file();

  
};
<span style="color: #008080">#endif</span>
</pre></td></tr></table></div>

