<!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28</pre></td><td><pre style="margin: 0; line-height: 125%">dosya_yolu = <span style="color: #0000FF">&quot;../data/Books.bin&quot;</span>
bir_kitap_boyutu = <span style="color: #0000FF">331</span>
iba = <span style="color: #0000FF">1</span>
ibi = <span style="color: #0000FF">21</span>


<span style="color: #000080; font-weight: bold">with</span> open(dosya_yolu, <span style="color: #0000FF">&quot;rb&quot;</span>) <span style="color: #000080; font-weight: bold">as</span> file:
    by = file.read(bir_kitap_boyutu)
    ks = <span style="color: #0000FF">0</span>
    gks = <span style="color: #0000FF">0</span>
    <span style="color: #000080; font-weight: bold">while</span> by:
        by = by.decode()
        durum = by[<span style="color: #0000FF">0</span>:<span style="color: #0000FF">1</span>]
        by = by[iba:ibi].strip(chr(<span style="color: #0000FF">1</span>))

        <span style="color: #000080; font-weight: bold">if</span> (ks%<span style="color: #0000FF">5</span> == <span style="color: #0000FF">0</span>):
            print(<span style="color: #0000FF">&quot;====== KOVA {} ========&quot;</span>.format(int(ks/<span style="color: #0000FF">5</span>)))
        <span style="color: #000080; font-weight: bold">try</span>:

            isbn = int(by)
            gks += <span style="color: #0000FF">1</span>
            print(<span style="color: #0000FF">&quot;{}. - isbn numarası: {} - hash: {} - durum: {}&quot;</span>.format((ks%<span style="color: #0000FF">5</span>), by, isbn%<span style="color: #0000FF">41</span>, durum))
        <span style="color: #000080; font-weight: bold">except</span>:
            print(<span style="color: #0000FF">&quot;{}. --------------------&quot;</span>.format(ks%<span style="color: #0000FF">5</span>))

        by = file.read(bir_kitap_boyutu)
        ks += <span style="color: #0000FF">1</span>
    print(gks)
</pre></td></tr></table></div>

